

<form class="search-form">
  <div>
    <label for="search-state">state:</label>
    <input type="text" id="search-state" />
  </div>
  
  <div>
    <button type="submit">search</button>
  </div>
</form>



<script src="/javascript/search.js"></script>




      <div class="template-cont" id="result">
        Search a state to view COVID-19 facts.
      </div>
