
<img src="images/covid-map.png" alt="usa-map">



<h4>Coronavirus disease 2019 (COVID-19) is a contagious disease caused <br>
 by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The first <br> 
 known case was identified in Wuhan, China, in December 2019. The disease has <br> 
 since spread worldwide, leading to an ongoing pandemic;</h4>

 <h4>To get up to date results, this website collects the data from our own designed API</h4>

 <p>Last Updated: 12/18/2021</p> <br>

  <a href="/mystates" class="first-href">Click here to start your search!</a>