<section class="search-cont">
  <div>
<form class="search-form">
  <h3>Search a state to view COVID-19 facts.</h3>
  <div>
    <label for="search-state">State:</label>
    <input type="text" id="search-state" />
  </div>
  
  <div>
    <button type="submit">Search</button>
  </div>
</form>

<form class="list-form">
  <div>
    <button type="submit">Add To Favorites</button>
  </div>
</form>
</div>
<div class="template-cont" id="result">
        
      </div>
</section>

{{#if favorites.length}}
<section class="faves-cont">
  <h1>Favorites</h1>
  <ul>
    {{#each favorites as |faves|}}
    <li>
      {{> view-info faves}}
      <a href="/mystates/info/{{faves.id}}" class="edit-link">Expand</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

   





<script src="/javascript/search.js"></script>
<script src="/javascript/favorite.js"></script>
