
<form class="search-form">
  <h3>Search a state to view COVID-19 facts.</h3>
  <div>
    <label for="search-state">State:</label>
    <input type="text" id="search-state" />
  </div>
  
  <div>
    <button type="submit">Search</button>
  </div>
</form>

<form class="list-form">
  <div>
    <button type="submit">Add To Favorites</button>
  </div>
</form>


   <div class="template-cont" id="result">
        
      </div>


<ol class="post-list">
  {{#each favorites as |fave|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/post/{{fave.id}}">{{fave.fav_name}}</a>
       
      </div>
      <div class="meta">
 
      </div>
    </article>
  </li>
  {{/each}}
</ol>



<script src="/javascript/search.js"></script>
<script src="/javascript/favorite.js"></script>
