<ol class="post-list">
  {{#each states as |state|}}
  <li>
    <article class="post">
      <div class="title">
       <span>{{state.state_name}}</span> 
        
      </div>
      <div class="meta">
    </article>
  </li>
  {{/each}}
</ol>